<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css" />
        <title>{% block title %}{% endblock %}</title>
        <link type="text/css" rel="stylesheet" href="/_public/css/app.css">
    </head>
    <body>
        <header>
            <h1>Application</h1>
        </header>
        
        {% block content %}{% endblock %}
        
        <footer>
            <p>Copyright 2020 Everyone</p>
        </footer>
        
        <script type="application/javascript" href="/_public/js/app.js"></script>
    </body>
</html>